*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

/* base custom */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--title-font);
    color: var(--color-primary);
    text-transform: uppercase;
}

body {
    color: var(--color-dark);
    font-family: var(--body-font);
}

section {
    margin-top: 6vh;
}

@media (min-width: 768px) {
    section {
        margin-top: 8vh;
    }
}

.line-section hr {
    width: 85vw;
    height: 5px;
    background-color: var(--color-primary);
    margin-left: 7.5vw;
    border-radius: 10px;
}