/* colors */
:root {
    --color-primary: #041E42;
    --color-secondary: #3232CD;
    --color-tertiary: #0000FF;
    --color-fourth: #AEC5E7;
    --color-fiveth: #13B5EA;
    --color-light: #fff;
    --color-dark: #121212;
}

/* fonts */
:root {
    --title-font: 'Montserrat', sans-serif;
    --body-font: 'Lato', sans-serif;
}